Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
Quake/*.o
Quake/*.d
Quake/vr/*.o
Quake/vr/*.d
Quake/*.res
Quake/*.exe
Quake/ironwail
build/
/.vs
/out/

# Quake VR: build output and runtime files in the game folder
/quakevr/progs.dat
/quakevr/progs.lno
/quakevr/*.cfg
!/quakevr/quakevr.cfg
/quakevr/*.sav
/quakevr/*.dem
/quakevr/screenshots/
/quakevr/notes/
/quakevr/profile/
/quakevr/eyeshots/
/quakevr/envmap.tga
!/quakevr/default.cfg
!/quakevr/vr_bindings.cfg
!/quakevr/vr_defaults.cfg
/build-cmake/
/dist/
__pycache__/
/quakevr/autosave/
/quakevr/relit/
